body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column; /* Para que el mapa y controles se apilen */
    align-items: center; /* Centrar controles si es necesario */
    padding: 10px;
}

#map {
    width: 80%; /* Ocupa el 80% del ancho de 'main' */
    max-width: 1000px; /* Máximo ancho para el mapa */
    height: 500px; /* Altura fija para el mapa */
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px; /* Espacio entre el mapa y los controles */
}

.controls {
    text-align: center;
    padding: 10px;
}

.controls button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.controls button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    width: 100%;
}

/* Estilos para popups de Leaflet (opcional, para mejorar apariencia) */
.leaflet-popup-content-wrapper {
    border-radius: 5px;
}

.leaflet-popup-content {
    font-size: 0.9em;
}
